.containerOperacaoCaixa {
    display: flex;
}

#resposta {
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #d0d0d0;
    box-shadow: 0 3px 12px rgba(0,0,0,0.10);

    /* Para rolagem vertical */
    max-height: 720px;       /* ajuste conforme necessidade operacional */
    overflow-y: auto;

    display: block;
}

